<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Customers</title>

    <style>
      table {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th,
      td {
        border: 1px solid black;
        padding: 5px;
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row align-items-start">
        <!-- COLUMN 1 -->
        <div class="col">
          <h1>My Customers List</h1>

          <form action="/customers" method="POST">
            <h4>Add new customers</h4>
            <div>
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" id="firstName" />
            </div>
            <br />
            <div>
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" id="lastName" />
            </div>
            <br />
            <div>
              <label for="phone">Phone</label>
              <input type="number" name="phone" id="phone" />
            </div>
            <br />
            <div>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">
              Create Customer
            </button>
            <button type="reset" class="btn btn-danger">Reset Form</button>
          </form>
        </div>

        <!-- COLUMN 2 -->
        <div class="col">
          <h2>Customers List</h2>
          <div>
            <table class="table table-striped">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>

              {% for customer in customers_list %}
              <tr>
                <td>{{ customer["first_name"] }}</td>
                <td>{{ customer["last_name"] }}</td>
                <td>{{ customer["phone"] }}</td>
                <td>{{ customer["email"] }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
